@include media-mobile {
  .container {
    background-image: url(../images/bg-mobile.png);
    background-position: right;
    background-size: cover;
  }

  .component {
    flex-direction: column;

    &__actions {
      width: 310px;
      margin-bottom: 30px;
    }

    &__range-slider {
      width: 310px;
      align-self: flex-start;
    }

    &__value-left {
      right: 60px;
      bottom: -120px;
      border-bottom-right-radius: 10px;

      &:after {
        content: '';
        display: none;
      }
    }
  }
}