@import "config";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $pale-blue;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  background: $very-dark-blue;
  background-image: url(../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

@import "component";
@import "attribution";
@import "responsive";